<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{144,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{128,152}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{128,152}}</string>
                <key>sourceSize</key>
                <string>{156,158}</string>
            </dict>
            <key>coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{20,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,1},{20,150}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
            <key>coin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{128,152}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
            <key>coin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{144,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin.png</string>
            <key>size</key>
            <string>{732,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a652d8bf6a65ecb44b5530d1541573:1/1$</string>
            <key>textureFileName</key>
            <string>coin.png</string>
        </dict>
    </dict>
</plist>
