<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1616},{76,74}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,116},{76,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,286}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{296,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1810},{138,134}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,89},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{164,178}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,55},{164,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{194,192}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{194,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{226,220}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{226,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{252,252}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{252,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{272,276}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{272,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{280,296}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{280,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{294,292}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{294,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{304,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68e7728381a7e4d44b6712742e87b0c4:910806599e9d4b04d65531567d550ad0:c5a2c42043f2b0dda1e7e7adb0cc6144$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
